.title {
  border-bottom: 3px solid var(--clr-silver);
  border-top: 3px solid var(--clr-silver);
  color: var(--clr-blue);
  font-size: 1.3rem;
  font-weight: bold;
  padding-block: 5px;
  margin-bottom: 20px;
  text-align: center;
}
