.form {
  border-radius: 10px;
  background-color: var(--clr-darkgray);
  padding: 20px;
  width: 800px;
}

.preview {
  border-radius: 10px;
  box-shadow: 5px 10px 15px var(--clr-darkgray);
  width: 800px;
}
